/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background:#fdfcfc }
body { margin: 0; font-family: Arial, Helvetica, sans-serif; }
.mat-mdc-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background: aliceblue;
}

